<div class="w-full flex flex-column align-items-center justify-content-center my-8">
  <p-card [style]="{ width: '25rem', minWidth: '29rem', overflow: 'hidden' }">
    <ng-container *ngIf="pokemon">
      <ng-template pTemplate="header" *ngIf="pokemon">
        <img alt="Card" class="w-full h-14rem" [src]="pokemon.sprites.other.dream_world.front_default" />
      </ng-template>

      <ng-template pTemplate="title"> {{ pokemon.name }} </ng-template>

      <ng-template pTemplate="subtitle"> {{ pokemon.species.name }} </ng-template>

      <ul class="m-0">
        <ng-container *ngFor="let item of pokemon.abilities">
          <li>{{ item.ability.name }}</li>
        </ng-container>
      </ul>

      <ng-template pTemplate="footer">
        <div class="flex gap-4 mt-1">
          <p-button label="Anterior" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full"
            (onClick)="prevPokemon()" />

          <p-button label="Proximo" class="w-full" styleClass="w-full" (onClick)="nextPokemon()" />
        </div>
      </ng-template>
    </ng-container>
  </p-card>

  <a [routerLink]="['/pokemon', 10]">Ver Pokémon 10</a>
</div>